body{
	background-color: #fff;
	color: #101010;
}
.container{
	width: 50%;
	height: 80vh;
	margin:  0 auto;
}
 #error,#emailError,#termsError,#phoneError,#addressError,#cityError,#countryError,#confirmPasswordError,#password2Rrror,#passwordError{
	color: red;
	visibility: hidden;
}